body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.AwesomeNav{
  background-color: #235789; 
  height: 35px;
  
}

.page-footer{
position:fixed;
left:0;
bottom:0;
right:0;
}

.jumbo{
   
    text-align: center;
    vertical-align: middle;  
    height: 80px;
   
  
}
.jumboParent {
  /* margin-top: 10px; */
  /* padding-top: 10px; */
  background-image: url("./assets/images/Photo1.jpg")
}

.jumbo h1, p{
    font-family: "Oxygen";
 
  }

  .latestRelease img{ 
    width: 100%;
    margin-bottom: 200px;
  
  }

 .latest {
      margin: 0 auto;
      width: 30%;
      margin-bottom: 50px;
  }  

/* .latest{
  min-height: 100%;  
  min-height: 100vh; 
  display: flex;
  align-items: center;

}  */